<h4>Initial Appointment</h4>
<ul class="series list-unstyled">
    <li class="record-of-actions">
        <p class="date-range">
            <span class="date">{{appointment.date}}</span>
        </p>
        <p class="position">
            <span class="position-title">{{appointment.title}}</span>
        </p>
        <p>
            <a href="#" class="app-action-btn" data-action="edit-initial-appt"><img class="edit-btn" src="assets/images/pencil.png" /></a>
        </p>
    </li>
</ul>
<h4>Promotions</h4>
<ul class="series list-unstyled">
    <li class="record-of-actions">
        <p class="date-range">
            <span class="date">2017</span>
        </p>
        <p class="position">
            <span class="position-title">Assistant Professor</span>
        </p>
        <p>
            <a href="#"><img class="move-btn" src="assets/images/move-btn.png" /></a>
            <a href="#"><img class="delete-btn" src="assets/images/delete-btn.png" /></a>
            <a href="#"><img class="edit-btn" src="assets/images/pencil.png" /></a>
        </p>
    </li>
    <li class="record-of-actions">
        <p class="date-range">
            <span class="date">2020</span>
        </p>
        <p class="position">
            <span class="position-title">Associate Professor</span>
        </p>
        <p>
           <a href="#"><img class="move-btn" src="assets/images/move-btn.png" /></a>
            <a href="#"><img class="delete-btn" src="assets/images/delete-btn.png" /></a>
            <a href="#"><img class="edit-btn" src="assets/images/pencil.png" /></a>
        </p>
    </li>
</ul>