<section id="letters">
    <h2>Support Leters</h2>
    <div class="panel">
        <header id="internal-uni">
            <h3>Internal to the Univeristy</h3>
        </header>
        <ul class="series list-unstyled col-span-12">
            <li class="internal-uni">
                <p class="rank col-span-3">
                    <span class="rank">{{personalInfo.rank}}</span>
                </p>
                <p class="position col-span-6">
                    <span class="position-title">{{personalInfo.name}}</span>
                </p>
                <p>
                    <a href="#" class="app-action-btn" data-action="edit-initial-appt">
                        <img class="edit-btn" src="/assets/images/pencil.png"/>
                    </a>
                </p>
            </li>
        </ul>
    </div>
</section>
