<ul class="series list-unstyled">
       <li class="professional-experience">
        <p class="date-range">
            <span class="date-start">{{date-start}}</span> &ndash; 
            <span class="date-end">{{date-end}}</span>
        </p>
        <p class="position">
            <span class="position-title">{{title}}</span>
            <span class="position-company">{{company}}</span>
        </p>
        <p>
            <a href="#" class="app-action-btn" data-action="move-prior-prof-exp" data-id="{{id}}">
                <img class="move-btn" src="assets/images/move-btn.png" />
            </a>
            <a href="#" class="app-action-btn" data-action="delete-prior-prof-exp" data-id="{{id}}">
                <img class="delete-btn" src="assets/images/delete-btn.png" />
            </a>
            <a href="#" class="app-action-btn" data-action="edit-prior-prof-exp" data-id="{{id}}">
                <img class="edit-btn" src="assets/images/pencil.png" />
            </a>
        </p>
    </li>
</ul>