<form action="" id="form-a">
    <ul>
        <li class="form-group">
            <label for="initial-appointment-date">Date</label>
            <input id="intial-appointment-date" 
                    name="date" type="text" class="form-control" 
                    value="{{appointment.date}}" />
        </li>
        <li class="form-group">
            <label for="initial-appointment-title">Title</label>
            <input id="initial-appointment-title" 
                    name="title" type="text" class="form-control" 
                    value="{{appointment.title}}" />
        </li>
    </ul>
    <button type="submit">Save Form A</button>
</form>