<form action="" id="form-b">
    <ul>
        <li class="form-group">
            <label for="promotion-date">Date</label>
            <input id="promotion-date" name="date" type="text" class="form-control" />
        </li>
        <li class="form-group">
            <label for="promotion-title">Title</label>
            <input id="promotion-title" name="title" type="text" class="form-control" />
        </li>
        <li class="form-group">
            <label for="promotion-details">Title</label>
            <textarea id="promotion-details" name="details" class="form-control"></textarea>
        </li>
    </ul>
    <button type="submit">Save Form B</button>
</form>