<header id="prof-exp">
    <h3>Prior Professional Experience</h3>
    <div class="panel-controls">
        <a class="add-btn" href="#">Add  <img src="images/add-btn.png" alt="Add +"/></a>
    </div>
</header>
<ul class="series list-unstyled">
    <li class="professional-experience">
        <p class="date-range">
            <span class="date-start">{{prof-exp.date-start}}</span> &ndash;
            <span class="date-end"> Oct 2016</span>
        </p>
        <p class="position">
            <span class="position-title">Interim Director</span>
            <span class="position-company">Center for Teahing and Learning</span>
        </p>
        <p>
            <a href="#"><img class="move-btn" src="images/move-btn.png" /></a>
            <a href="#"><img class="delete-btn" src="images/delete-btn.png" /></a>
            <a href="#"><img class="edit-btn" src="images/pencil.png" /></a>
        </p>
    </li>
    <li class="professional-experience">
        <p class="date-range">
            <span class="date-start">Feb 2015</span> &ndash;
            <span class="date-end"> Jul 2015</span>
        </p>
        <p class="position">
            <span class="position-title">Interim Director</span>
            <span class="position-company">Center for Teahing and Learning</span>
        </p>
        <p>
            <a href="#"><img class="move-btn" src="images/move-btn.png" /></a>
            <a href="#"><img class="delete-btn" src="images/delete-btn.png" /></a>
            <a href="#"><img class="edit-btn" src="images/pencil.png" /></a>
        </p>
    </li>
    <li class="professional-experience">
        <p class="date-range">
            <span class="date-start">May 2011</span> &ndash;
            <span class="date-end"> Jul 2014</span>
        </p>
        <p class="position">
            <span class="position-title">Manager</span>
            <span class="position-company">Center for Teahing and Learning</span>
        </p>
        <p>
            <a href="#"><img class="move-btn" src="images/move-btn.png" /></a>
            <a href="#"><img class="delete-btn" src="images/delete-btn.png" /></a>
            <a href="#"><img class="edit-btn" src="images/pencil.png" /></a>
        </p>
    </li>
</ul>