<h2>Record of Actions</h2>
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
               <h3 class="panel-title">Initial Appointment</h3>
                <a id="form-a-loader" class="form-loader btn btn-success pull-right" href="templates/form-initial-appt.tpl.html">Edit</a>
            </div>
            <div clas="panel-body">
                <p>
                    <b class="appointment-date">{{appointment.date}}</b> 
                    <span class="appointment-title">{{appointment.title}}</span>
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
               <h3 class="panel-title">Promotions</h3>
                <a id="form-b-loader" class="form-loader btn btn-success pull-right" href="templates/form-promotion.tpl.html">Add</a>
            </div>
            <div clas="panel-body">
               {{#promotions}}
                <p>
                    <b class="promotion-date">{{date}}</b>
                    <span class="promotion-title">{{title}}</span><a id="form-b-loader" class="form-loader btn btn-success btn-xs pull-right" href="templates/form-promotion.tpl.html?item={{id}}">Edit</a>
                </p>
                {{/promotions}}
            </div>
        </div>