<form action="" id="form-c">
    <ul>
        <li class="form-group">
            <label for="syllabus-doc">Syllabus</label>
            <input type="file" name="upload-syllabus" id="syllabus-doc-upload" class="form-control" 
                    value="" />
        </li>
        <li class="form-group">
            <label for="">Term</label>
            <select id="syllabus-term" 
                    name="term" class="form-control">
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>>
                <option value="fall">Fall</option>>
            </select>
        </li>
        <li class="form-group">
            <label for="">Year</label>
            <input type="text" name="year" />
        </li>
        <li class="form-group">
            <label for="syllabus-desc">Description</label>
            <textarea id="description" name="description" class="form-control"></textarea>
        </li>
    </ul>
    <button type="submit">Save Form C</button>
</form>